<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Cadastro de alunos</title>
</head>

<body>
    <h1 aling="center">PROJETO DE ESTAGIO WEB</h1>
    <hr />
    <ul>
        <li>Estudar bootstrap</li>
        <li>Melhorar mensagens de erro</li>
        <li>Token JWT</li>
        <li>Injeção de Script</li>
        <li>AuthorizeAttribute</li>
    </ul>

    <div>
        <input type="button" class="btn btn-primary" value="Adicionar aluno" onclick="location.href='@Url.Action("Create", "Aluno")'"/>
        <input type="button" class="btn btn-primary" value="Ver lista de alunos" onclick="location.href='@Url.Action("SelecionarAluno", "Aluno")'" />
    </div>
</body>