<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Cadastro de alunos</title>
</head>

<body>
    <h1 aling="center">PROJETO DE ESTAGIO WEB</h1>
    <hr/>

    <div>
        <input type="button" class="btn btn-primary" value="Adicionar aluno" onclick="location.href='@Url.Action("Create", "Aluno")'"/>
        <input type="button" class="btn btn-primary" value="Ver lista de alunos" onclick="location.href='@Url.Action("SelecionarAluno", "Aluno")'" />
    </div>
</body>