<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Cadastro de alunos</title>
</head>

<body>
    <h1 aling="center">PROJETO DE ESTAGIO WEB</h1>
    <hr/>

    <h4>Coisas a se fazer</h4>
    <ul>
        <li>A view de atualizar ta funcionando mas não atualiza</li>
        <li>Estudar sobre Delete confirmed, Edit Confirmed</li>
        <li>Tentar colocar o dataGrid no mesmo lugar do lugar de preencher</li>
    </ul>
</body>