<!DOCTYPE html>
<head>

</head>
<body>
    <h1>PROJETO DE ESTAGIO WEB</h1>

    <p>Aparentemente as telas estão funcionando mas não consigo acessa-las.</p>
    <p>Fazer a tela inicial de forma melhor com os botões</p>
</body>