<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Cadastro de alunos</title>
</head>

<body>
    <h1 aling="center">PROJETO DE ESTAGIO WEB</h1>
    <hr/>

    <h4>Coisas a se fazer</h4>
    <ul>
        <li>Validações dos dados <b>IMPORTANTE</b></li>
        <li>Colocar mecanismo de pesquisa <b>IMPORTANTE</b></li>
        <li>Estudar sobre Delete confirmed, Edit Confirmed <b>IMPORTANTE</b></li>
        <li>Tentar colocar o dataGrid no mesmo lugar do lugar de preencher</li>
        <li>Testes automatizados</li>
        <li>Deixar tudo mais bonito com css</li>
        <li></li>
        <li></li>
    </ul>
</body>